@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800;900&display=swap");
/* Regular */
.font-regular {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}
/* Medium */
.font-medium {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}
/* Semibold */
.font-semibold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
}
/* Bold */
.font-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
}

/* Extrabold */
.font-extrabold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
}
/* Black */
.font-black {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
}
/* homepage */
.landing_bg {
  background-image: url(../public/assets/homepage/landing-main-asset-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .landing_bg {
    background-image: url(../public/assets/homepage/landing-main-asset-minresponsive.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

.slider_img_w {
  width: 38.7px;
  height: 132.01px;
}
.custom-splide .splide__arrow {
  background-color: white;
  height: 50px;
  width: 50px;
}
.custom-splide .splide__arrow svg {
  fill: white;
  height: 10px;
  width: 10px;
}
@media only screen and (max-width: 768px) {
  .custom-splide .splide__arrow {
    background-color: white;
    height: 40px;
    width: 40px;
    margin-left: -26px;
    margin-right: -26px;
  }
  .custom-splide .splide__arrow svg {
    fill: white;
    height: 10px;
    width: 10px;
  }
  .custom-splide .splide__pagination {
    bottom: -2em;
  }
}
.img_b {
  border-style: solid;
  border-color: red;
}
